<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navi.ejs') %>
    <h1>Error!</h1>
    <p>Page is occuring some errors. Sorry for the inconvenience!</p>

<%- include('includes/end.ejs') %>